* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

%column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
%row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
$white: #fff;
.top{
    height: 40vh;
    @extend %column;
    position: relative;
    color: $white;
    text-align: center;
    gap: 20px;
    background: {
        image: linear-gradient(#00000080,#00000080), url('https://i.pinimg.com/originals/a0/42/5b/a0425b4d3a77461b74ea604295cedb65.png');
        size: cover;
        position: center;
    }
    h1{
        font-size: 4rem;
    }
    .searchContainer{
        @extend %row;
        height: 2.5em;
        position: absolute;
        bottom: 0;
        transform: translateY(50%);
        input,button{
            height: 100%;
            border: none;
            box-shadow: 0px 3px 0px 3px #017981;
        }
        input{
            border-radius: 30px 0 0 30px;
            &:focus{outline: none;}
            padding: 0 0 0 20px;
            font-size: 1.2rem;
            width: 50%;
        }
        button{
            padding: 0 20px;
            border-radius: 0 30px 30px 0;
            @extend %row;
            background-image: linear-gradient(to left, #A8BF95, #017981) ;
            cursor: pointer;
            &:active{}
        }
    }
}
.query{
    height: 60vh;
    padding: 20px;
    h1{
        font-size: 1.5rem;
    }
    .resultContainer{
        max-width: 50vw;
        width: min-content;
        overflow-x: scroll;

            &::-webkit-scrollbar{width: 5px; height: 5px;}
            &::-webkit-scrollbar-thumb{background-color: #222222;border-radius: 8px;}

        span{
            font-size: 1.1rem;
            width: 300px;
            overflow: hidden;
        }
    }
}